<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.sass.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('homepage') }}">Тестовый блог</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('new-post') }}">{{ 'post.new' | trans | capitalize }} <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            </ul>
            <span class="navbar-text">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as' | trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout' | trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <div class="btn-group">
                        <a class="btn btn-outline-primary" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        <a class="btn btn-outline-primary" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    </div>
                {% endif %}
            </span>
        </div>
    </nav>
{% endblock %}

<div class="container">
    {% if app.request.hasPreviousSession %}
        {% set messagesBag = app.session.flashBag.all %}
        {% if messagesBag | length %}
            <section class="section section_with-padding-low">
                {% for type, messages in messagesBag %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </section>
        {% endif %}
    {% endif %}
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('js/vendor.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/common.js') }}"></script>
{% endblock %}
</body>
</html>
