include-font(font-name, file-name, font-weight = normal, font-style = normal, local = false) {
   @font-face {
      font-family font-name
      src url('../fonts/' + file-name + '.woff') format('woff')
      font-weight font-weight
      font-style font-style
   }
}
@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-Bold.eot');
   src: url('../fonts/main/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-Bold.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-Bold.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-Bold.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-Medium.eot');
   src: url('../fonts/main/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-Medium.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-Medium.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-Medium.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-Italic.eot');
   src: url('../fonts/main/HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-Italic.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-Italic.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-Italic.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-Italic.svg#HelveticaNeueCyr-Italic') format('svg');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-UltraLightItalic.eot');
   src: url('../fonts/main/HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-UltraLightItalic.svg#HelveticaNeueCyr-UltraLightItalic') format('svg');
   font-weight: 200;
   font-style: italic;
}

@font-face {
   font-family: 'ESP AlphaHeadline Tab';
   src: url('../fonts/main/ESPAlphaHeadlineTab-Regular.eot');
   src: url('../fonts/main/ESPAlphaHeadlineTab-Regular.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/ESPAlphaHeadlineTab-Regular.woff2') format('woff2'),
           url('../fonts/main/ESPAlphaHeadlineTab-Regular.woff') format('woff'),
           url('../fonts/main/ESPAlphaHeadlineTab-Regular.ttf') format('truetype'),
           url('../fonts/main/ESPAlphaHeadlineTab-Regular.svg#ESPAlphaHeadlineTab-Regular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'ESP AlphaHeadline Tab';
   src: url('../fonts/main/ESPAlphaHeadlineTab-Bold.eot');
   src: url('../fonts/main/ESPAlphaHeadlineTab-Bold.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/ESPAlphaHeadlineTab-Bold.woff2') format('woff2'),
           url('../fonts/main/ESPAlphaHeadlineTab-Bold.woff') format('woff'),
           url('../fonts/main/ESPAlphaHeadlineTab-Bold.ttf') format('truetype'),
           url('../fonts/main/ESPAlphaHeadlineTab-Bold.svg#ESPAlphaHeadlineTab-Bold') format('svg');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-UltraLight.eot');
   src: url('../fonts/main/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-UltraLight.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-UltraLight.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-UltraLight.svg#HelveticaNeueCyr-UltraLight') format('svg');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/main/HelveticaNeue-MediumCond.eot');
   src: url('../fonts/main/HelveticaNeue-MediumCond.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeue-MediumCond.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeue-MediumCond.woff') format('woff'),
           url('../fonts/main/HelveticaNeue-MediumCond.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeue-MediumCond.svg#HelveticaNeue-MediumCond') format('svg');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-Roman.eot');
   src: url('../fonts/main/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-Roman.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-Roman.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-Roman.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-Light.eot');
   src: url('../fonts/main/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-Light.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-Light.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-Light.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/main/HelveticaNeue-UltraLigCond.eot');
   src: url('../fonts/main/HelveticaNeue-UltraLigCond.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeue-UltraLigCond.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeue-UltraLigCond.woff') format('woff'),
           url('../fonts/main/HelveticaNeue-UltraLigCond.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeue-UltraLigCond.svg#HelveticaNeue-UltraLigCond') format('svg');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/main/HelveticaNeue-Thin.eot');
   src: url('../fonts/main/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeue-Thin.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeue-Thin.woff') format('woff'),
           url('../fonts/main/HelveticaNeue-Thin.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-Black.eot');
   src: url('../fonts/main/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-Black.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-Black.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-Black.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-BoldItalic.eot');
   src: url('../fonts/main/HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-BoldItalic.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-BoldItalic.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-BoldItalic.svg#HelveticaNeueCyr-BoldItalic') format('svg');
   font-weight: bold;
   font-style: italic;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-Thin.eot');
   src: url('../fonts/main/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-Thin.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-Thin.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-Thin.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin') format('svg');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-LightItalic.eot');
   src: url('../fonts/main/HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-LightItalic.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-LightItalic.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-LightItalic.svg#HelveticaNeueCyr-LightItalic') format('svg');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-ThinItalic.eot');
   src: url('../fonts/main/HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-ThinItalic.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-ThinItalic.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-ThinItalic.svg#HelveticaNeueCyr-ThinItalic') format('svg');
   font-weight: 100;
   font-style: italic;
}

@font-face {
   font-family: 'HelveticaNeueCyr';
   src: url('../fonts/main/HelveticaNeueCyr-BlackItalic.eot');
   src: url('../fonts/main/HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
           url('../fonts/main/HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
           url('../fonts/main/HelveticaNeueCyr-BlackItalic.woff') format('woff'),
           url('../fonts/main/HelveticaNeueCyr-BlackItalic.ttf') format('truetype'),
           url('../fonts/main/HelveticaNeueCyr-BlackItalic.svg#HelveticaNeueCyr-BlackItalic') format('svg');
   font-weight: 900;
   font-style: italic;
}


