$base-padding = 15px
$screen-sm-min = 480px
$container-sm = 100%
$screen-md-min = 768px
$container-md = 720px
$screen-lg-min = 1430px
$container-lg = 1400px

col() {
  $n = arguments [0]
  _n = $n
  if( $n == null){
    $n = 'auto'
  } else if( unit($n) ){
    $n = $n
  } else {
    $n = 12.5% * $n
  }

  if(!arguments [1]) {
    $dase-padding = 0
  }else{
    $dase-padding = arguments [1]
  }
  box-sizing border-box
  -webkit-box-flex 1
  -ms-flex 1 1 auto
  flex 1 1 auto
  padding-right $dase-padding
  padding-left $dase-padding
  if( $n != null)  {
    -ms-flex-preferred-size $n
    flex-basis $n
    max-width $n
  }
  {block}

}

row() {
  $margin = arguments[0]
  _margin = $margin
  $option = arguments[1]
  _option = $option
  $modification = arguments[2]
  _modification = $modification

  box-sizing border-box
  display -webkit-box
  display -ms-flexbox
  display flex
  flex 0 1 auto
  flex-direction row
  -ms-flex-wrap wrap
  flex-wrap wrap
  {block}

  if ( typeof(_margin) == 'unit') {
    margin-right $margin * (-1)
    margin-left $margin * (-1)
  }

}

row-reverse() {
  flex-direction row-reverse
  {block}
}

flex-start() {
  -webkit-box-pack start
  -ms-flex-pack start
  justify-content flex-start
  text-align start
  {block}
}

flex-center() {
  -webkit-box-pack center
  -ms-flex-pack center
  justify-content center
  text-align center
  {block}
}

flex-end() {
  -webkit-box-pack end
  -ms-flex-pack end
  justify-content flex-end
  text-align end
  {block}
}

flex-top() {
  -webkit-box-align start
  -ms-flex-align start
  align-items flex-start
  {block}
}

flex-middle() {
  -webkit-box-align center
  -ms-flex-align center
  align-items center
  {block}
}

flex-bottom() {
  -webkit-box-align end
  -ms-flex-align end
  align-items flex-end
  {block}
}

flex-around() {
  -ms-flex-pack distribute
  justify-content space-around
  {block}
}

flex-between() {
  -webkit-box-pack justify
  -ms-flex-pack justify
  justify-content space-between
  {block}
}

col-flex-first() {
  -webkit-box-ordinal-group 0
  -ms-flex-order -1
  order -1
  {block}
}

col-flex-last() {
  -webkit-box-ordinal-group 2
  -ms-flex-order 1
  order 1
  {block}
}

