{% extends 'base.html.twig' %}
{% form_theme form 'Form/form.bootstrap4.html.twig' %}

{% block body %}
    <section class="section section_with-padding">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
