{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <section class="section section_with-padding">
            {% for post in posts_service.posts() %}
                {% include 'Post/post.short.html.twig' with {post: post} %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
