.fancybox{
  &-bg{
    background darken(#d56e6d, 25%)
    background linear-gradient(to bottom, darken(#ebc255,25%) 0%, darken(#d56e6d, 25%) 100%)
    opacity .75 !important
    &:before{
      position absolute
      display block
      content ''
      background rgba($color-black, .2)
      top 0
      bottom 0
      right 0
      left 0
    }
  }
}