body{
  min-width: 320px;
  .body__wrapper{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 320px;
    overflow: hidden;
    font-family: 'Proxima Nova', sans-serif;
  }
}