// Colors
$gray: #2a2927 !default;

$body-bg: #f8f8f8;
$body-color: $gray;


$popover-bg:           rgba(0,0,0,.5);
$popover-header-bg:    darken($popover-bg, 3%);
$popover-header-color: #fff;
$popover-body-color:   #fff;
$popover-arrow-color:  rgba(0,0,0,.3);
$popover-box-shadow:   none;