.news{
  margin-bottom: 2rem;
  &-preview{
    &__heading{
      font-size: 3rem;
      font-weight: 900;
    }
    &__more{
      text-align: center;
      color: $body-color;
      margin-top: $grid-gutter-width;
      font-size: 1.1rem;
      a{
        color: $body-color;
        text-decoration: underline;
        display: inline-block;
        &:hover{
          color: $link-hover-color
        }
      }

    }
    &__img{
      width: 100% !important;
      height: auto !important;
    }
    &__thumbnail{
      img{
        transition: all .5s ease;
        transform: scale(1.01);
      }
      &__text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $white;
        opacity: 0;
        transition: opacity .7s ease;
        font-size: 2rem;
      }
      &:hover{
        img{
          opacity: .3;
          @include filter(grayscale, 100%);
          transform: scale(1.1);
        }
        .news-preview__thumbnail__text{
          opacity: 1;
        }
      }
    }
    &__title{
      font-weight: 900;
      margin-top: $grid-gutter-width;
      font-size: 2rem;
    }
    &__excerpt{
      font-weight: 200;
      font-size: 1.1rem;
    }
    &__date{
      color: $gray-500;
      font-size: .95em;
    }
  }
}