.section{
  background: $body-bg;
  position: relative;
  z-index: 2;
  overflow: hidden;
  &_with-padding{
    padding-top: $grid-gutter-width * 2;
    padding-bottom: $grid-gutter-width * 2;
    &-low{
      padding-top: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;
    }
  }
  &_light-gray{
    background: $gray-300;
  }
  &__heading{
    margin-bottom: $grid-gutter-width * 2 !important;
  }
}
