{% extends 'base.html.twig' %}

{% block body %}
    <section class="section section_with-padding">
        <h4 class="news-preview__title">{{ post.title }}</h4>
        <div class="news-preview__excerpt">
            {{ post.content }}
        </div>
        <p class="news-preview__date">{{ post.createdAt('Y.m.d h:i') }}</p>
        {{ render(controller('AppBundle:Comment:form',{post: post})) }}
        <div data-loader="{{ path('comment-load-for-post',{id: post.id}) }}" data-loader-id="comment-list" class="loader">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                     style="width: 0%"></div>
            </div>
        </div>
    </section>
{% endblock %}