<div class="news" data-post="{{ post.id }}">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="embed-responsive embed-responsive-16by9">
                <a href="{{ path('show-post',{slug: post.slug}) }}" class="embed-responsive-item bg-primary news-preview__thumbnail">

                    {% if post.thumbnail(true) %}
                        <img src="{{ image(post.thumbnail.pathname) }}" class="news-preview__img wp-post-image" alt="">
                        <span class="news-preview__thumbnail__text"><span class="ion-ios-arrow-thin-right"></span></span>

                    {% else %}
                        <span class="news-preview__thumbnail__text"><span class="ion-ios-arrow-thin-right"></span></span>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-8">
            <a href="{{ path('show-post',{slug: post.slug}) }}" class="h4 news-preview__title">{{ post.title }}</a>
            <div class="news-preview__excerpt">
                {{ post.content | slice(0,500) }}
            </div>
            {% if post.canEdit(app.user) %}
                <p><a href="{{ path('edit-post',{id: post.id}) }}">Редактировать</a> | <a href="{{ path('edit-post',{id: post.id}) }}" data-delete-post="{{ post.slug }}">Удалить</a></p>
            {% endif %}
            <p class="news-preview__date">{{ post.createdAt('Y.m.d h:i') }}</p>
        </div>
    </div>
</div>
