<div class="list-group">
    {% set comments = posts_service.postComments(post) %}
    {% if comments | length > 0 %}
    {% for comment in comments %}

        <div data-comment class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ comment.fosUser.username | capitalize }}</h5>
                <small>{{ comment.createdAt('Y.m.d h:i') }}</small>
            </div>
            <p class="mb-1">{{ comment.content }}</p>
            {% if comment.isUserCanDelete(app.user) %}
                <a href="{{ path('comment-delete') }}" data-delete-comment="{{ comment.id }}">
                    <small>Удалить</small>
                </a>
            {% endif %}
        </div>

    {% endfor %}
        {% else %}
            <div class="alert alert-secondary" role="alert">
                {{ 'comment.not found' | trans }}
            </div>
    {% endif %}
</div>