{% extends "base.html.twig" %}
{% block body %}
    <section class="section section_with-padding">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% form_theme form 'Form/form.bootstrap4.html.twig' %}
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_security_check')}) }}
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>


{% endblock body %}
