<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">
    {% block meta %}{% endblock %}
	{% block stylesheets %}
		<link rel="stylesheet" href="css/vendor.css">
		<link rel="stylesheet" href="css/common.css">
	{% endblock %}
</head>
<body>
<div class="body__wrapper">
    {% block content %}{% endblock %}
</div>
{% block javascripts %}
    <script src="js/vendor.js"></script>
    <script src="js/common.js"></script>
{% endblock %}
</body>
</html>
