{% extends 'base.html.twig' %}

{% block body %}
    <section class="section section_with-padding">
        {% form_theme form 'Form/form.bootstrap4.html.twig' %}
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-outline-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </section>

{% endblock body %}
